body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  color: white;
}

.github-btn {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.github-btn:hover {
  color: #eee;
}

header h1 {
  margin: 0;
}


.tab-selector {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.tab-selector button {
  flex: 1;
  padding: 1rem;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.tab-selector button.active {
  background-color: #ddd;
  border-bottom: 3px solid #000;
}

.add-task-section {
  display: flex;
  padding: 1rem;
  background-color: white;
}

.add-task-section input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-task-section button {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
  position: absolute;
  width: 95%;
  margin: auto;
}

.task-list.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}


.task-item {
  background-color: white;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.task-actions button {
  border: none;
  background: none;
  margin-left: 0.5rem;
  color: #000;
  font-size: 1rem;
}

.empty-message {
  text-align: center;
  color: #999;
  padding: 1rem;
  display: none;
}